* {
    margin: 0px;
    padding-right: 0px;
    background-color: aliceblue;
}

.header {
    background-color: grey;
    color: azure;
    height: 100px;
    border-bottom: 10px solid lightcoral;

}

.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: grey;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    background-color: grey;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: grey;
}

a {
    color: black;
}

.content {
    border: 10px solid aliceblue;

}

.About-Me {
    border: 10px solid aliceblue;
    height: 40vh;
    color: black;
    font-size: 35px;
    display: flex;
}

#Other-About {
    border-right: 5px solid black;
    width: 35vh;
    height: 30vh;
    background-color: aliceblue;

}

#Paragraph {
    padding-left: 25px;
    background-color: aliceblue;
    width: 110vh;
}

.Work {
    border: 10px solid aliceblue;
    height: 120vh;
    color: black;
    font-size: 35px;
    display: flex;
}

#Left {
    background-color: aliceblue;
    width: 35vh;
    border-right: 5px solid black;

}

.photos {
    width: 118vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: aliceblue;
}


#one {
    background-color: lavender;
    height: 50vh;
    width: 100vh;
    border: 7px solid lightcoral;
    color: darkseagreen;
}

#two {
    background-color: lavender;
    height: 15vh;
    width: 50vh;
    border: 7px solid lightcoral;
    color: darkseagreen;
}

#three {
    background-color: lavender;
    height: 15vh;
    width: 50vh;
    border: 7px solid lightcoral;
    color: darkseagreen;
}

#four {
    background-color: lavender;
    height: 15vh;
    width: 50vh;
    border: 7px solid lightcoral;
    color: darkseagreen;
}

#five {
    background-color: lavender;
    height: 15vh;
    width: 50vh;
    border: 7px solid lightcoral;
    color: darkseagreen;
}







.Contact-Me {
    border: 10px solid aliceblue;
    height: 10vh;
    color: black;
    font-size: 35px;
    display: flex;
}

#Get-Ahold {
    background-color: aliceblue;
    width: 35vh;
    border-right: 5px solid black;
}

#Contacts {
    background-color: aliceblue;
    width: 118vh;
    display: flex;
}

#Contacts div ul li {
    display: inline-flex;
    margin-left: 25px;
}
