* {
    margin: 0px;
    padding-right: 0px;
}

.header {
    background-color: #094a4c;
    color: azure;
    height: 100px;
    border-bottom: 10px solid #033724;

}

.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #094a4c;
    color: lightseagreen;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    background-color: #094a4c;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: #094a4c;
}

a {
    color: lightseagreen;
}

.Head-Pic {
    height: 300px;
    width: 100%;
    background-image: url("../images/404-header\ 2.jpg");
    background-size: cover;
    background-position: center;

}


.content {
    border: 10px solid whitesmoke;

}

.About-Me {
    border: 10px black;
    height: 40vh;
    color: black;
    font-size: 35px;
    display: flex;
    background-color: whitesmoke;
}

#Other-About {
    border-right: 5px solid black;
    width: 57vh;
    height: 40vh;
    background-color: whitesmoke;

}

#Paragraph {
    padding-left: 25px;
    background-color: whitesmoke;
    width: 100%;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

#Face-Pic {
    height: 40vh;
    width: 39vh;
    background-image: url("../images/IMG_9639.jpg");
    background-size: cover;
    background-position: center;
}


.Work {
    border: 10px solid whitesmoke;
    height: 120vh;
    color: black;
    font-size: 35px;
    display: flex;
    background-color: whitesmoke;
}

#Left {
    background-color: whitesmoke;
    width: 35vh;
    border-right: 5px solid black;

}

.photos {
    width: 118vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: whitesmoke;
}


#one {
    background-color: lightslategray;
    height: 50vh;
    width: 100vh;
    border: 7px solid #094a4c;
    color: #033724;
    background-image: url("../images/surfreport.jpg");
    background-size: cover;
    background-position: center;
}

#one:hover {
    transform: translateY(-10px);
    color: aliceblue;
}

#two {
    background-color: lightslategray;
    height: 15vh;
    width: 50vh;
    border: 7px solid #094a4c;
    color: #033724;
    background-image: url("../images/Led-Wall.webp");
    background-position: center;
    background-size: cover;
}

#two:hover {
    transform: translateY(-10px);
    color: aliceblue;
}

#three {
    background-color: lightslategray;
    height: 15vh;
    width: 50vh;
    border: 7px solid #094a4c;
    color: #033724;
    background-image: url("../images/Calculator.jpeg");
    background-position: center;
}

#three:hover {
    transform: translateY(-10px);
    color: aliceblue;
}

#four {
    background-color: lightslategray;
    height: 15vh;
    width: 50vh;
    border: 7px solid #094a4c;
    color: #033724;
    background-image: url("../images/Puzzle-Pastel.jpeg");
}

#four:hover {
    transform: translateY(-10px);
    color: aliceblue;
}

#five {
    background-color: lightslategray;
    height: 15vh;
    width: 50vh;
    border: 7px solid #094a4c;
    color: #033724;
    background-image: url("../images/Run-Buddy.jpeg");
    background-size: cover;
}

#five:hover {
    transform: translateY(-10px);
    color: aliceblue;
}

h3 {
    background-color: lightseagreen;
    width: fit-content;
}

.Contact-Me {
    border: 10px solid whitesmoke;
    height: 10vh;
    color: black;
    font-size: 35px;
    display: flex;
    background-color: whitesmoke;
}

#Get-Ahold {
    background-color: whitesmoke;
    width: 35vh;
    border-right: 5px solid black;
}

#Contacts {
    background-color: whitesmoke;
    width: 118vh;
    display: flex;
}

#Contacts div ul li {
    display: inline-flex;
    margin-left: 25px;
}

a:hover {
    color: black;
}

.footer {
    background-color: whitesmoke;
    height: 10vh;
    display:flex;
    justify-content: space-around;
}